@model IEnumerable<EntityLayer.Concrete.Comment>
@{
    ViewBag.Title = "GetCommentByBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">

    <div class="container-fluid col-10 mt-2">
        <h2>Bloga Yapılan Yorumlar </h2>
        <br />
        @if (Model.Count() == 0)
        {
            <div class="wrapper">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="mt-5">Bu bloga hiç yorum yapılmamış :(</h2>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
        else
        {
            <div class="wrapper">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="timeline ">
                                    @foreach (var item in Model)
                                    {


                                        <div class="time-label ">
                                            <span class="bg-info">@item.CommentDate.ToShortDateString()</span>
                                        </div>
                                        <div>
                                            <i class="fas fa-comment bg-yellow"></i>
                                            <div class="timeline-item rounded-0">
                                          
                                                <h3 style="color:white" class="timeline-header bg-gradient-gray"><a style="color:white" href="#">@item.UserName</a>-@item.Mail</h3>
                                                <div class="timeline-body bg-black">
                                                    @item.CommentText
                                                </div>
                                                @*<div class="timeline-footer bg-black ">
                                                        <a class="btn btn-primary btn-sm">Detaylar</a>
                                                        <a class="btn btn-danger btn-sm">Kaldır</a>
                                                    </div>*@
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
    </div>
</body>
</html>