@model IEnumerable<EntityLayer.Concrete.Blog>
@foreach (var item in Model)
{
    <div class="sidebar-box bg-dark">
        <div class="bio text-center">
            <img src="@item.Author.AuthorImage" alt="Image Placeholder" class="img-fluid mb-5">
            <div class="bio-body">
                <h2 style="color:white">@item.Author.AuthorName</h2>
                <p class="mb-4 text-white-50">@item.Author.AuthorAbout</p>
                <p><a href="/Blog/Index" class="btn btn-outline-light btn-sm rounded px-4 py-2">Anasayfa</a></p>
            </div>
        </div>
    </div>
}